$main-header-font: 'Playfair Display', serif;
$main-body-font: 'Oswald', sans-serif;
$secondary-header-font: 'Just Me Again Down Here', cursive;
$main-padding: 0.75rem;

$secondary-text-color: #212f3c;

$main-accent-color: #0E6251;
$secondary-accent-color: #D0D3D4;
$complementary-accent-color: #212F3C;

$background-color: #ECF0F1;

$center-margin: 0 auto;